body {
    padding: 0;
    margin: 0;
    border-top: 4px solid rgb(235, 215, 30);
    font-family: 'Oxygen', sans-serif;
    padding-left: 150px;
    padding-right: 110px;
    background: #F5F5F5;
}
.genel-container {
    overflow: hidden;
}
.header {
    overflow: hidden;
    padding-right: 20px;
    height: 80px;
    
}
.header-logo {
    width: 50px;
    height: 50px;
    float: left;
}
.list {
    margin-top: 25px;
}
ul li a {
    text-decoration: none;
    float: left;
    margin-left: 30px;
    color: black;
}
ul li {
    list-style-type: none;
    margin-left: 70px;
}
.icons {
    overflow: hidden;
    margin-right: 115px;
}
.icon {
    float: right;
    margin-right: 30px;
}
.left-block {
    width: 560px;
    float: left;
}
.left-block-main {
    padding-right: 60px;
}
.laker {
    width: 560px;
    height: 300px;
    border-radius: 4px;
}
.left-metin {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 25px;
}
.left-metin-1 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 25px;
}
.history p {
    padding-right: 30px;
    display: inline;
    font-size: 12px;
}
.history {
    margin-top: 30px;
}
.right-block {
    float: left;
    overflow: hidden;
    width: 720px;
    height: 700px;
}
.right-block-news {
    margin-left: 20px;
}
.news img {
    border-radius: 10px;
    margin-right: 10px;
    float: left;
    width: 179px;
    height: 101px;
}
.news-link {
    color: black;
    display: block;
    font-weight: 700;
    font-size: 20px;
    padding-right: 160px;
}
.news-link:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
}
.news {
    overflow: hidden;
    margin-bottom: 20px;
}
.right-block h1 {
    padding-left: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.news p {
    font-size: 12px;
}

.news a {
    color: black;
    text-decoration: none;
}
.designed-by{
    display: inline-block;
    width: 130px;
}
.news-detail {
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.position-link p {
    position: absolute;
    bottom: 0px;
    right: 250px;
}
.color {
    width: auto;
    background: yellow;
}
.news-precontent {
    float: left;
    width: 511px;
    height: 101px;
    position: relative;
}
