body {
    padding: 0;
    margin: 0;
    border-top: 4px solid rgb(235, 215, 30);
    font-family: 'Roboto', sans-serif;
    padding-left: 220px;
    padding-right: 220px;
    background: #e5e5e6;
}
.genel-container {
    overflow: hidden;
    width: 1500px;
    padding: 0 12px;
    margin-left: 100px;
}
.genel-container-2 {
    overflow: hidden;
    width: 1580px;
    padding: 0 12px;
}
.header {
    overflow: hidden;
    padding-right: 20px;
    height: 80px;
}
.header-logo {
    width: 176px;
    margin-top: 10px;
    float: left;
}
.list {
    margin-top: 25px;
}
ul li a {
    text-decoration: none;
    float: left;
    margin-left: 30px;
    color: black;
}
ul li {
    list-style-type: none;
    margin-left: 70px;
}
.icons {
    overflow: hidden;
    margin-right: 295px;
}
.icon {
    float: right;
    margin-right: 30px;
}
.left-block {
    width: 560px;
    float: left;
}
.left-block-main {
    padding-right: 60px;
}
.laker {
    width: 560px;
    height: 300px;
    border-radius: 4px;
}
.left-metin {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 25px;
}
.left-metin-1 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 25px;
}
.history p {
    padding-right: 30px;
    display: inline;
    font-size: 12px;
}
.history {
    margin-top: 30px;
}
.right-block {
    float: left;
    overflow: hidden;
}
.right-block-news {
    margin-left: 100px;
}
.news img {
    border-radius: 10px;
    margin-right: 10px;
    float: left;
}
.news-link {
    color: black;
    display: block;
    font-weight: 700;
    font-size: 20px;
}
.news-link:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
}
.news {
    overflow: hidden;
    margin-bottom: 20px;
}
.right-block h1 {
    padding-left: 100px;
    padding-top: 3px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.news p {
    font-size: 12px;
}
.news a { 
    text-decoration: none;
}
.designed-by{
    display: inline-block;
    width: 130px;
    color: black;
}
.news-detail {
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.position-link p {
    position: absolute;
    bottom: 0px;
    right: 250px;
}
.color {
    width: auto;
    background: yellow;
}
.news-precontent {
    float: left;
    width: 350px;
    height: 101px;
    position: relative;
}

/* ENTERENCE */
.enterence {
    overflow: hidden;
    height: 950px;
    margin-top: 85px;
}
.enterence-left {
    float: left;
}
.box{
    background: #222223;
    width: 800px;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.left-text {
    width: 430px;
    height: 21w0px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}
.tiktok {
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    line-height: 24px;
}
.tiktok:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
}
.left-text p {
    margin-bottom: 20px;
    font-size: 16px;
    color: gray;
    line-height: 27px;
}
.enterence-title {
    margin-bottom: 10px;
    color: gray;
    font-weight: 700;
}
.enterence-image img {
    width: 280px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}
.left-text span {
    color: gray;
    padding-left: 10px;
}
.tiktok-image {
    width: 200px;
    height: 160px;
    border-radius: 7px;
}
.yazar {
    text-decoration: none;
    color: gray;
}
/* ENTERENCE RİGHT */
.enterence-right {
    float:left;
    margin-left: 30px;
    width: 390px;
    height: 519px;
    background: #222223;
    border-radius: 5px;
}
.enterence-right-bigtitle {
    font-size: 20px;
    padding-left: 28px;
    border-bottom: 2px solid gray;
    font-weight: 700;
    line-height: 79px;
}
.enterence-right-box {
    height: 60px;
    padding: 10px 20px 20px 20px; 
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    border-bottom: 2px solid gray;
}
.border {
    height: 60px;
    padding: 10px 20px 20px 20px; 
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.right-title {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 20px;
}
.right-title:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
}
.position-yazar {
    display: block;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    color: gray;
}
.enterence-right-bigtitle h1 {
    color: #fff;
}
.line {
    width: 15px;
    height: 3px;
    background: red;
    position: absolute;
    top: 6px;
    left: -30px;
}
.videos-container {
    background: #222223;
    overflow: hidden;
    padding: 100px 0px 100px 30px;
    margin-bottom: 50px;
    margin-right: 150px;
    border-radius: 10px;
}
.videos {
    position: relative;
    float: left;
}
.new-link-2 {
    padding-left: 10px;
    padding-right: 95px;
    line-height: 25px;
}
.news-container {
    float: left;
    margin-left: 23px;
}
.images-video {
    width: 130px;
    height: 80px;
}
.link-color {
    color: white;
}
.main-video {
    border-radius: 10px;
}
.icons-cont {
    position: relative;
}
.play-icons {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 380px;
    top: 200px;
    cursor: pointer;
}
.play-icons:hover {
    background: white;
    border-radius: 30px;
}
.flat-image {
    position: relative;
    float: left;
}
.flat {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 28px;
    left: 50px;
    cursor: pointer;
}
.flat:hover {
    background: red;
    border-radius: 30px;
}
.flat-1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 28px;
    left: 50px;
    cursor: pointer;
}
.flat-1:hover {
    background: red;
    border-radius: 30px;
}
.ticket-container {
    width: 1430px;
    height: 642px;
    background: #222223;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.ticket {
    width: 400px;
    height: 470px;
    background: white;
    position: relative;
    float: left;
    margin-left: 58px;
    margin-top: 110px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.ticket-image {
    width: 400px;
    height: 215px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.ticket span {
    margin-right: 20px;
    font-weight: 400;
    color: gray;
}
.ticket-bottom-box {
    padding: 20px 20px 0px 33px;
    height: 234px;
}
.ticket a {
    display: block;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color:black
}
.ticket p {
    padding-top: 10px;
}
.button {
    position: absolute;
    bottom: 50px;
    left: 17px;
}
.button button {
    width: 150px;
    height: 50px;
    margin-left: 17px;
    font-size: 18px;
}
.sell {
    background: #f3d02e;
    border: 2px solid #f3d02e;
    border-radius: 5px;
}
.examine {
    
    background: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}
.examine:hover {
    background: yellow;
}
.position-title {
    position: relative;
}
.position-title p {
    color: #fff;
    font-weight: 500;
    font-size: 45px;
    position: absolute;
    top: 70px;
    left: 105px;
}
.big-title {
    color: #fff;
    font-size: 40px;
    position: absolute;
    left: 60px;
    top: 35px;
}